<h1>Upload Image</h1>

<div *ngIf="!isUploading">
    <input type="file" (change)="uploadImage($event)" placeholder="Upload image" accept=".jpg,.png,.bmp" multiple>
</div>
<div>
    <custom-spinner [visible]="isUploading"></custom-spinner>
</div>
<!--
<div *ngFor="let imageUrl of imageUrls">
    <img src="{{ imageUrl }}" alt="">
</div>
-->

