<h1>Resize images</h1>


<div *ngFor="let image of images">
     <img src="{{ image.thumbnail }}" class="img-thumbnail" alt="thumbnail" width="180" height="180">
     <button *ngIf="!image.downloadUrl" type="button" (click)="removeImage(image.id)" class="btn btn-link">Remove</button>
     <a *ngIf="image.downloadUrl" type="button" href="{{ image.downloadUrl }}" target="_blank" class="btn btn-link">Download</a>
     <custom-spinner [visible]="image.isProcessing"></custom-spinner> 
</div>
<input type="file" (change)="addImages($event)" placeholder="Add images" accept=".jpg,.png,.bmp" multiple>
<button type="button" [disabled]="images.length === 0" (click)="resizeImages()" class="btn btn-primary btn-lg">Resize images</button>



